<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Editor"
            extensions="java"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="edu.ncsu.csc.dlf.errorview.editors.Editor"
            id="edu.ncsu.csc.dlf.errorview.editors.XMLEditor">
      </editor>
   </extension>

</plugin>
