<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Editor"
            extensions="java"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="edu.ncsu.csc.dlf.errorview.editors.Editor"
            id="edu.ncsu.csc.dlf.errorview.editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
         <quickFixProcessor
            name="%errorJoiner"
            class="edu.ncsu.csc.dlf.errorview.Joiner"
            id="edu.ncsu.csc.dlf.errorView.joiner">
      </quickFixProcessor>
   </extension>

</plugin>
